allure-results/
screenshots/
test-output/
build/
reports/

application.log
####################
##Java
####################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
activityLog.log
####################
##Maven
###################
target/
pom.xml.tag
pom.xml.releaseBackup